body {
background-color: #f1f1f1;
color: #000000;
font-size: 16px;
font-weight: normal;
font-family: 'Roboto', sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #de1af0;
}

a:visited {
    color: #86898f;
}

.container {
    max-width: 850px ;
    margin: auto;
}
.card {
    padding: 15px 20px;
    background: #de1af0;
    margin-bottom: 20px;
    border-radius: 20px;
}

.bg-yellow {
    background: #fff9dc;
}
.bg-green {
    background: #e5ffe7;
}
.bg-red {
    background: #ffe5e5;
}
.bg-blue {
    background: #b0a5ec;
}

.table td {
    padding-bottom: 10px;
}
.table td:nth-child(2) {
    color: #86898f;
    padding: 10px;
}

